body {
  margin: 0;
}

$gap: 1px;
$month: 28, 29, 30, 31;
$size: 100px;
$days: (
  0: "mon",
  1: "tue",
  2: "wed",
  3: "thu",
  4: "fri",
  5: "sat",
  6: "sun"
);

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: ($gap+$size)*7;
  margin: 100px auto;

  div {
    height: $size;
    width: $size;
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 100px;
    transition: 0.5s;
    display: none;

    &:hover {
      cursor: pointer;
      transform: translate(0, -20px);
      background-color: pink;
    }
  }

  @each $days in $month {
    @for $i from 1 through $days {
      &-#{$days} {
        & :nth-child(#{$i}) {
          display: flex;
          justify-content: center;

          &:after {
            content: "#{$i}";
          }
        }
      }
    }
  }
  @each $name, $day in $days {
    &-#{$day} div:first-child {
      margin-left: $name*($gap+$size);
    }
  }
}
